/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-align-left {
  text-align: left;
}

.u-align-right {
  text-align: right;
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Center */
.center {
  margin: 0 auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.success {
  background-color: $green;
  color: white;
}

.error {
  background-color: $red;
  color: white;
}